body{
    background-image: url("./images/man4.jpg");
    background-size: 87rem;
    color: white; 
}

.loginClass{
    margin-top: 5rem;
}
.loginContainer{
    box-shadow: 2px 2px 20px rgb(58, 56, 56);
    width: 60%;
    margin: auto;
    padding: 10px;
    background-color: black;

}
.signupClassClass{
    margin-top: 5rem;
}
.signupContainer{
    box-shadow: 2px 2px 20px rgb(30, 29, 29);
    width: 60%;
    margin: auto;
    padding: 10px;
    background-color: black;

}
